.App {
  text-align: center;
  font-size: calc(6px + 1vmin);
}

* {
  transition: all .05s;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-message {
  width: 100%;
  color: #fff;
  padding: 1vh 0;
  position: absolute;
}

.App-message.message-error {
  background-color: #EE4B2B;
}
.App-message.message-success {
  background-color: #00A36C;
}

.App-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-container * {
  box-sizing: border-box;
}

.App-search {
  width: 30vw;
  margin-top: 10vh;
}

.App-search .search-element {
  text-align: right;
  margin-bottom: 2vh;
}

.App-search input {
  min-height: 5vh;
  width: 100%;
  padding: 0 1vw;
  font-size: calc(8px + 1vmin);
  display: inline-block;
}

.App-search label {
  font-size: calc(4px + 1vmin);
  color: #EE4B2B;
  display: block;
  position: absolute;
}

.App-search button {
  background-color: #00A36C;
  color: #fff;
  padding: 0.5vw 1.5vw;
  border: 1px solid #00A36C;
  margin-top: 10px;
  display: inline-block;
}

.App-search button:hover {
  background-color: #2AAA8A;
  border: 1px solid #2AAA8A;
}

ul {
  background-color: #282c34;
  list-style-type: none;
  width: 100%;
  padding: 1vh;
  margin: 0;
}

li {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fafafa;
  margin-bottom: 1vh;
  padding: 1.5vh 0;
}