.App {
  text-align: center;
  font-size: calc(8px + 1vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-container * {
  box-sizing: border-box;
}

.App-search {
  width: 30vw;
  margin-top: 5vh;
}

.App-search .search-element {
  text-align: right;
  margin-bottom: 2vh;
}

.App-search input {
  min-height: 5vh;
  width: 100%;
  padding: 0 1vw;
  font-size: calc(8px + 1vmin);
}

.App-search label {
  font-size: calc(4px + 1vmin);
  color: #999;
}

ul {
  background-color: #282c34;
  list-style-type: none;
  width: 100%;
  padding: 1vh;
  margin: 0;
}

li {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fafafa;
  margin-bottom: 1vh;
  padding: 1vh;
}